body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    text-decoration: underline;
}

.map {
    height: 100vh;
    width: 100vw;
}

.search {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
}

.search__input {
    width: 75%;
    padding: 5px 8px;
    border:1px solid #566963;
    border-right: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search__button {
    width: 25%;
    text-transform: uppercase;
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
    background-color: #768d87;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 0;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search__button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
    background-color:#6c7c7c;
}

.location {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0,0.25);
    padding: 10px 16px;
    max-height: 92%;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.location__list {
    margin: 0;
    padding: 0;
    clear: both;
    margin-top: 12px;
}

.location__item {
    list-style: none;
    color: #FFF;
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.5);
}

.location__link:last-child .location__item {
    margin-bottom: 0;
}

.location__name {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.location__address {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.location.is-show .location__list{
    display: block;
}

.location.is-hide {
    width: auto;
    background: transparent;
}

.location.is-hide .location__list{
    display: none;
}

.location__button {
    text-transform: uppercase;
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
    background-color: #768d87;
    border: 1px solid #566963;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
}

.location__button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
    background-color:#6c7c7c;
}

.location__button-wrapper {
    width: 100%;
    text-align: right;
}

.is-hidden {
    display: none;
}

.is-active {
    background: rgba(128, 21, 21, 0.83);
}

@media screen and (min-width: 640px) {
    .search {
        width: auto;
        top: 10px;
        left: 10px;
    }

    .search__input {
        width: auto;
    }

    .search__button {
        width: auto;
        padding:3px 23px;
    }

    .location {
        top: 0;
        bottom: auto;
        width: 290px;
    }
}